@model NewsInfo
@{ Layout = "_Layout"; ViewBag.Title = "All Articles";}


<h4>News Articles</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-controller="Home" asp-action="Index" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
            <p>
                <div class="form-group row">
                    <label for="From" class="col-md-2 col-form-label">From:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="From" name="From" placeholder="Start Date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="To" class="col-sm-2 col-form-label">To:</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="To" name="To" placeholder="End Date">
                    </div>
                </div>
                </p>
            <p style="float:right">
                <div class="form-group row">
                    <label for="txtTitle" class="col-sm-2 col-form-label">Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtTitle" asp-for="Title" placeholder="Title">
                    </div>
                </div>

                <div class="form-group">
                    <label id="lblLanguage" class="control-label">Language:</label>
                    <select id="ddlbLanguage" asp-for="Language" asp-items="@Model.Languages">
                        <option value="">Select a Language</option>
                    </select>
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
            </p>
            <div class="form-group row">
                <div class="col-sm-10">
                    <p>
                        <button id="btnSearch" class="btn btn-primary">Search</button>
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label id="lblPageSize" class="control-label">Page Size:</label>
                <select id="ddlbPageSize" asp-for="PageSize">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </form>

    </div>
</div>
@if (Model.totalResults > 0)
{
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>Author</th><th>Title</th><th>Description</th><th>Content</th><th>Date</th><th>Visit Website / Link to site</th><th>Source</th></tr></thead>
        <tbody>

            @foreach (var r in Model.articles)
            {
            <tr>
                <td>@r.author</td>
                <td>@r.title</td>
                <td>@r.description</td>
                <td>@r.content</td>
                <td>@r.publishedAt</td>
                <td><a href=@r.url><img src="@r.urlToImage" width="100" height="100" /></a></td>
                <td>@r.source.name</td>
                
            </tr>
            }
            
        </tbody>
    </table>
}
    @{
        var prevDisabled = Model.PageNumber <= 1 ? "disabled" : "";
        var nextDisabled = Convert.ToInt32((Model.totalResults / Model.PageSize)) < Model.PageNumber ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-PageNumber="@(Model.PageNumber - 1)"
       asp-route-Language="@(Model.Language)"
       asp-route-Title="@(Model.Title)"
       asp-route-From="@(Model.From)"
       asp-route-To="@(Model.To)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-PageNumber="@(Model.PageNumber == 0 ? 1 : Model.PageNumber + 1)"
       asp-route-Language="@(Model.Language)"
       asp-route-Title="@(Model.Title)"
       asp-route-From="@(Model.From)"
       asp-route-To="@(Model.To)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
